{{ define "main" }}
<main class="main" style="max-width: 700px; margin: auto; padding: 2rem;">
  <h1>{{ .Title }}</h1>
  <p>{{ .Content }}</p>

  <form action="https://formspree.io/f/xdkepoez" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name" required><br><br>

    <label for="email">Email</label><br>
    <input type="email" name="_replyto" required><br><br>

    <label for="message">Message</label><br>
    <textarea name="message" rows="6" required></textarea><br><br>

    <button type="submit">Send</button>
  </form>
</main>
{{ end }}
