{{ define "main" }}
<main class="main">
  {{ .Content }}

  {{ if eq .Section "iac" }}
    <div style="text-align: center; margin-top: 2.5rem;">
      {{ if in .RelPermalink "/iac/concepts/" }}
        <a href="/iac/concepts/" class="home-button">👉 Return to Infra Concepts & Insights</a>
      {{ else if in .RelPermalink "/iac/code-in-action/" }}
        <a href="/iac/code-in-action/" class="home-button">👉 Return to Code in Action</a>
      {{ end }}
      
      <a href="/iac/" class="home-button" style="margin-left: 0.5rem;">📦 Return to Infra World</a>
      <a href="/" class="home-button" style="margin-left: 0.5rem;">🏠 Take Me Home</a>
    </div>
  {{ end }}

  {{ if and (eq .Section "ai") (in .File.Path "synth-minds-in-action") }}
  <div style="text-align: center; margin-top: 2rem;">
    <a href="/ai/synth-minds-in-action/" class="home-button">👉 Return to Synth Minds in Action</a><br><br>
    <a href="/ai/" class="home-button">📦 Return to AI World</a><br><br>
    <a href="/" class="home-button">🏠 Take Me Home</a>
  </div>
{{ else if and (eq .Section "ai") (in .File.Path "ai-nsteins-notebook") }}
  <div style="text-align: center; margin-top: 2rem;">
    <a href="/ai/ai-nsteins-notebook/" class="home-button">👉 Return to AI-nstein's Notebook</a><br><br>
    <a href="/ai/" class="home-button">📦 Return to AI World</a><br><br>
    <a href="/" class="home-button">🏠 Take Me Home</a>
  </div>
{{ end }}

  {{ partial "comments.html" . }}
</main>
{{ end }}
